VITE_ENV=<production or development>
VITE_APP_URL=<ADD_YOUR_APP_URL_IN_PRODUCTION>
VITE_PROJECT_ID=<ADD_YOUR_PROJECT_ID>
VITE_SUPABASE_URL=<ADD_YOUR_SUPABASE_URL>
VITE_SUPABASE_ANON_KEY=<ADD_YOUR_SUPABASE_ANON_KEY>
VITE_SUPABASE_SERVICE_ROLE__KEY=<ADD_YOUR_SUPABASE_SERVICE_ROLE_KEY>

VITE_STRIPE_PUBLISHABLE_KEY=<INSERT_KEY_FROM_STRIPE_DASHBOARD>
VITE_STRIPE_SECRET_KEY=<INSERT_KEY_FROM_STRIPE_DASHBOARD>
VITE_STRIPE_WEBHOOK_SECRET=<INSERT_KEY_FROM_STRIPE_DASHBOARD>