.env
npm-debug.log*

.react-router/

.DS_Store

stats.html

/node_modules/
admin/node_modules
shared/node_modules
front-panel/node_modules

shared/tsconfig.tsbuildinfo

dist/
*.tsbuildinfo

test.sql

/dist/
admin/dist/
shared/dist/
front-panel/dist/
build/

# React Router
/.react-router/
/build/
.vscode/

logs/
*.log